/*---GENERAL STYLES---*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
a {
  color: #fff;

}
a:visited {
  color: #fff;
}
a:hover {
  color: #bea67c;
  text-decoration: none;
}
a:active {
  color: #bbb;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.015em;
}
/*Learn link styles*/

a.learn-link::before {
  content: "";
  display: block;
  height: 2px;
  width: 0 /*45px*/;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #bea67c;
  transition: all 0.3s linear;
}
a.learn-link:hover::before,
a.learn-link:focus::before {
  width: 45px;
}
a.learn-link {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 0.9em;
  padding-bottom: 0.2em;
  transition: color 0.3s linear;
}
a.learn-link:hover {
  color: #bea67c;
}
a.learn-link::after {
  content: "" url("../img/icons/arrow.png");
  display: inline-block;
  padding-left: 4px;
}
/**/
a.link:hover::after,
a.link:focus::after {
  width: 100%;
}
a.link {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  color: #8a8988;
  font-size: 0.8em;
  letter-spacing: 0.18em;
  transition: color 0.3s linear;
}
a.link:hover {
  color: #bea67c;
}
a.link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #bea67c;
  transition: width 0.3s linear;
}
/*---------------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #333;
}
.load {
  height: 3em;
  width: 3em;
  border: 5px solid #bbb;
  border-radius: 50%;
  border-right: 5px solid #bea67c;
  animation: spin 4s linear infinite;
}
/*-----------------------*/
header {
  height: 100vh;
  color: yellow;
}
.nav-box {
  position: fixed;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
/*---Hiiden menu on checkbox---*/
.checkbox_trigger{
  display: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.nav-menu p {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #8a8988;
  margin: 0;
  margin-left: 7px;
}
.nav-menu label{
  display: inline-block;
  position: relative;
  height: 23px;
  width: 40px;
  cursor: pointer;
  margin: 0;
}
.nav-menu span{
  position: absolute;
  display: block;
  background: #bea67c;
  z-index: 3;
  width: 37px;
  height: 1px;
}
.nav-menu span:nth-child(1){
  top: 0;
  left: 3px;
}
.nav-menu span:nth-child(2){
  top: 48%;
  left: 3px;
}
.nav-menu span:nth-child(3){
  bottom: 0;
  left: 3px;
}
.drop_menu {
  position: fixed;
  top: 10vh;
  left: 0;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 20%;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  z-index: 2;
  animation: fadeIn 1s linear;
}
.drop_menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(75vh / 6);
  width: 100%;
}
/*---Checkbox--Burger menu--Change while active---*/
.checkbox_trigger:checked ~.drop_menu{
  display: flex;
}
.checkbox_trigger:checked ~ label span:nth-child(1){
    transform: rotate(-45deg);
    transition: 0.5s;
    position: absolute;
    top: 12px;
    z-index: 6;
  }
  .checkbox_trigger:checked ~ label span:nth-child(2){
    animation: fadeOut 0.3s linear;
    opacity: 0;
  }
  .checkbox_trigger:checked ~ label span:nth-child(3){
    transform: rotate(45deg);
    transition: 0.5s;
    position: absolute;
    top: 12px;
    right: 17px;
    z-index: 6;
  }
  /*---Not checked---*/
  .checkbox_trigger:not(:checked) ~ label span{
    transform: rotate(0deg);
    transition: 0.5s;
  }
/**/
.nav-leng {
  margin-right: 1em;
}
.nav-leng a {
  margin-right: 0.3em;
}
nav a {
  margin: 0 5em;
}
/*--For bootstrap styles--*/
.btn-secondary {
  color: #8a8988;
}
.dropdown-menu.show {
  left: 5.5em;
  min-width: 4rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
}
.dropdown-item, .dropdown-item:visited {
color: #8a8988;
}
.nav-leng .dropdown .btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
/*---*/
.header-slider-first {
  background: url("../img/bg/header_one_bg.png") no-repeat center bottom;
  background-size: cover;
  display: flex!important;
  height: 100%;
}
.header-slider-first h1 {
  margin-bottom: 1.75em;
}
.title-box  {
  flex-direction: column;
  position: relative;
  }
.header-slider-first img {
  width: 100%;
}
img.scroll-pic {
  width: 30%;
  transform: rotate(90deg);
  position: absolute;
  bottom: -60%;
  left: -10%;
}
.share-box {
  position: absolute;
  bottom: 10px;
  right: 3%;
}
.slide-number {
  position: absolute;
  left: 7.7%;
  top: 30%;
  transform: rotate(90deg);
}
.slide-number h5 {
  color: #bea67c;
  font-size: 3em;
  font-weight: 700;
}
/*---PRODUCTS---*/
.products ul {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 36em;
}
.products li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.products ul p {
  font-size: 0.9em;
  margin-bottom: 1.6em;
  line-height: 1.7;
}
.products ul img {
  width: 100%;
}
.number h5 {
  font-size: 3em;
  font-weight: 700;
}
.number span {
  color: #bea67c;
}
/*Product background letters*/
.products {
  position: relative;
  overflow: hidden;
}
.f-let {
  position: absolute;
  top: -9rem;
  left: 0.6rem;
  }
.deco-let {
  position: absolute;
  bottom: 15rem;
  left: 0rem;
  }
.d-let {
  position: absolute;
  top: 30rem;
  right: 0rem;
}
.fur-let {
  position: absolute;
  top: 15rem;
  right: 0rem;
}
/*First product list*/
.product-list-one li:first-child h2, .product-list-one li:first-child p {
  position: relative;
}
.product-list-one li:first-child h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6em;
  left: -3.7em;
  width: 150px;
  height: 1px;
  background: #000;
}
.product-list-one li:first-child{
  padding-left: 5.3em;
  min-height: 14em;
}
.product-list-one li:first-child p::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6em;
  left: -5em;
  width: 45px;
  height: 5px;
  background: #bea67c;
}
.product-list-one li:first-child h2 {
  margin-bottom: 0.3em;
}
.product-list-one>li .number {
  position: absolute;
  bottom: -5.6em;
  left: -5%;
}
/*second product list*/
ul.product-list-two {
  flex-wrap: wrap-reverse;
}
.product-list-two li:last-child {
  min-width: 18em;
  width: 40%;
  align-items: flex-end;
  text-align: right;
  padding-right: 10%;
}
.product-list-two li:last-child h2, .product-list-two li:last-child p {
  position: relative;
}
.product-list-two li:last-child h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6em;
  right: -3.9em;
  width: 150px;
  height: 1px;
  background: #000;
}
.product-list-two li:last-child p::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.6em;
  right: -5.8em;
  width: 45px;
  height: 5px;
  background: #bea67c;
}
.product-list-two>li .number {
  position: absolute;
  bottom: -7.6em;
  right: -3%;
}
/*---QUALITY---*/
.quality {
  overflow: hidden;
}
.quality p {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2.1em;
  font-size: 0.9em;
  font-weight: 700;
}
.quality-list-wrp {
  text-align: center;
  padding-bottom: 4em;
  position: relative;

}
.quality-list-wrp::after{
  content: "" url("../img/pic/letters/v.png");
  position: absolute;
  bottom: -11.3rem;
  right: -7rem;
}
.quality-list-wrp::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 5px;
  background: #bea67c;
  text-align: center;
}
.quality-list {
  flex-wrap: wrap;
  animation: 1s linear;
}
.quality-list li {
  margin: 2.65em;
}
.quality-list li>div {
  min-width: 15.3em;
  position: relative;
  border-radius: 50%;
  border: 1px solid #bbb;
  padding: 0.93em;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}
.quality-list li>div a{
  position: absolute;
  top: 39%;
  left: 39%;
}
.quality-list li p::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: #bea67c;
  margin-left: 8.5em;
  margin-bottom: 0.93em;
}
.quality-list li p {
  font-weight: 700;
  width: 100%;
}
.pl_but {
  font-size: 2em;
  color: #fff;
  background: rgba(183, 164, 131, 0.8);
  line-height: 2em;
  width: 2em;
  border-radius: 50%;
  border:1px solid rgba(183, 164, 131, 0.5);
  transition: all 0.3s linear;
}
.pl_but:hover {
  background: none;
}
/*---VIDEO---*/
.video {
  height: 100vh;
  background: url("../img/bg/video_bg.png") no-repeat center left;
  background-size: cover;
}
.video-content {
  width: 80%;
  height: 75%;
  border: 1px solid #bea67c;

}
.video-title {
  display: inline-block;
  text-transform: uppercase;
  color: #bea67c;
  font-size: 3em;
  margin-bottom: 0.7em;
  font-weight: 700;
}
.video-content>ul{
  position: relative;
  width: 85%;
}
.video-content>ul::after {
  content: "";
  position: absolute;
  top: 24%;
  right: 0;
  display: inline-block;
  height: 9.6em;
  width: 2px;
  background: #fff;
}
.video-content li:first-child::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 150px;
  background: #fff;
  vertical-align: top;
  margin-top: 1.7em;
  margin-right: 20px;
}
.video-content li:nth-child(2) {
  margin-left: 6.8em;
  margin-bottom: 2em;
}
.video-content li:nth-child(2)::before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 45px;
  background: #bea67c;
  vertical-align: top;
  margin-top: 0.5em;
  margin-right: 20px;
}
.video-content li:last-child {
  margin-left: 10.7em;
}
.video-content p {
  font-size: 0.93em;
  color: #fff;
  display: inline-block;
}
.white_but {
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  line-height: 3.5em;
  text-align: center;
  min-width: 15em;
  width: calc(18.7em - 4px);
  border: 2px solid #fff;
}
.video_but {
  font-size: 0.7em;
  margin-right: 0.3em;
  width: 25px;
  line-height: 23px;
  border: 1px solid #fff;
  border-radius: 50%;
}
/*---ABOUT---*/
.about-list::before {
  content: "" url("../img/pic/letters/about.png");
  position: absolute;
  top: 40%;
  left: -16%;
  z-index: 2;
}
.about-list {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 42.5em;
}
.about-list::after {
  content: "" url("../img/pic/letters/a.png");
  position: absolute;
  top: -7.7em;
  right: -3em;
  z-index: 2;
}
.about-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-list li:last-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.6em;
  left: -6em;
  width: 150px;
  height: 1px;
  background: #000;
}
.about-list li:last-child {
  padding-left: 5.3em;
  min-height: 14em;
}
.about-list li:last-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5em;
  left: 0.8em;
  width: 45px;
  height: 5px;
  background: #bea67c;
}
.about-list li:last-child h2{
  margin-bottom: 0.3em;
}
.about-list li:last-child p {
  font-size: 0.9em;
  margin-bottom: 1.6em;
  line-height: 1.7;
}
.about-list img {
  width: 100%;
}
/*---FOOTER---*/
footer {
  min-height: 4.37em;
  background: url("../img/bg/footer_bg.png") no-repeat center center;
  background-size: cover;
}
footer div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
footer span {
  text-transform: uppercase;
}
